
.container {
    padding: 30px;
    background-color: #d6d6d6;
    min-height: 100vh;
}

.container-table {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
    padding: 20px;
    margin-top: 15px;

}

.profile-circle {
    width: 40px;
    height: 40px;
    background-color: var(--gray-color);
    border-radius: 50%;
}

.top-table-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.page-title {
    margin-left: 60px;
    font-size: 26px;
    color: var(--black-gray-color);
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-right: 55px;
}

#search-input {
    padding: 8px 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: white;
    width: 250px;
}

.btn-search {
    background-color: var(--white-color);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px;
}

.table-wrapper {
    background-color: white;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px 10px 0 0;
}

table {
    width: 100%;
    background: var(--white-color);
    border-collapse: collapse;
    overflow: hidden;
}

thead {
    background-color: var(--white-color);
    border-bottom: 0.1px solid var(--black-gray-color);
}

thead th {
    text-align: left;
    padding: 12px 16px;
    color: var(--black-gray-color);
}

tbody td {
    padding: 12px 16px;
    border-bottom: 1px solid var(--black-gray-color);
}

.actions {
    display: flex;
    gap: 6px;
}

.btn {
    padding: 6px 14px;
    border-radius: 8px;
    border: solid var(--black-gray-color) 1px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: background-color 0.2s ease;
    font-size: 14px;
}

.btn.edit {
    background-color: var(--purple-color);
}

.btn.edit:hover {
    background-color: var(--purple-light-color);
}

.btn.delete {
    background-color: #ff5b5b;
}

.btn.delete:hover {
    background-color: #e24c4c;
}

.btn.ficha {
    background-color: var(--purple-color);
}

.btn.ficha:hover {
    background-color: var(--purple-light-color);
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 25px;
}

.btn.novo {
    background-color: var(--purple-color);
}

.btn.novo:hover {
    background-color: var(--purple-light-color);
}

.btn.voltar {
    background-color: var(--purple-light-color);
}

.btn.voltar:hover {
    background-color: var(--purple-color);
}


/* Definir largura mínima e evitar quebra na coluna de CPF */
td:nth-child(3), th:nth-child(3) {
    min-width: 160px; /* ajuste conforme necessário */
    white-space: nowrap;
}