<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/recepcionista/home-recepcionista.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">


    <title>Home - Pilates</title>
</head>

<body>
    <header>
        <div class="top-bar">
            <img th:src="@{/images/lotus.png}" alt="Logo Pilates" class="logo" />
            <a class="logo-name" th:href="@{/web/recepcionista/home}">Pilates</a>
        </div>
        <div class="profile-circle"></div>
    </header>

    <main>
        <h2>Seja bem-vindo <span th:text="${usuario != null ? usuario.nome : '[usuário]'}">usuário</span></h2>

        <div class="button-grid">
            <a class="btn-home" th:href="@{/web/recepcionista/aluno/new}">Cadastrar Aluno</a>
            <a class="btn-home" th:href="@{/web/recepcionista/instrutor/new}">Cadastrar Instrutor</a>
            <a class="btn-home" th:href="@{/web/recepcionista/aluno/list}">Consultar Aluno</a>
            <a class="btn-home" th:href="@{/web/recepcionista/instrutor/list}">Consultar Instrutor</a>
        </div>

        <div class="button-center">
            <a class="btn-home" th:href="@{/web/agendainstrutor/agenda}">Agendamento</a>
        </div>
    </main>

</body>

</html>