* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iter, sans-serif;
}

:root {
    --purple-color: #8f83e5;
    --purple-light-color: #a698f5;
    --purple-color2: rgba(143, 131, 229, 1);
    --gray-color: #e2e2e2;
    --white-color: #f6f6f6;
    --black-gray-color: #2c2c2c;
    --opaque-black-color: rgba(171, 171, 171, 0.753);
    font-family: "Inter", sans-serif;
}

header {
    top: 0;
    left: 0;
    right: 0;
    background-color:var(--purple-color);
    height: 92px;
    color: white;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    /* Garante que fique sobre outros elementos */
}

.top-bar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo-name{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: var(--black-gray-color);
    
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.profile-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ddd;
}