<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home - Pilates</title>
</head>

<body>
    <header>
        <a class="logo" th:href="@{/home}">Pilates</a>
        <div id="radius-perfil"></div>
    </header>
    <main>

        <h2>Cadastro de aluno</h2>
        <p style="color: red;">* Campos de preenchimento obrigatório</p>

        <form action="/aluno/save" method="post">

            <label>Nome completo *</label><br>
            <input type="text" name="nome" placeholder="Digite aqui seu nome completo" required><br><br>

            <label>Data de nascimento *</label><br>
            <input type="date" name="dataNascimento" required><br><br>

            <label>CPF *</label><br>
            <input type="text" name="cpf" placeholder="Digite aqui seu CPF" required><br><br>

            <label>Email *</label><br>
            <input type="email" name="email" placeholder="Digite aqui seu email" required><br><br>

            <label>Telefone *</label><br>
            <input type="text" name="telefone" placeholder="Digite aqui seu telefone" required><br><br>

            <label>Profissão *</label><br>
            <input type="text" name="profissao" placeholder="Digite aqui sua profissão" required><br><br>

            <label>Qual plano escolhido?</label><br>
            <select name="planoAtual" required>
                <option value="">Escolha um plano</option>
                <option value="planoA">Plano A</option>
                <option value="planoB">Plano B</option>
            </select><br><br>

            <button type="submit">Finalizar</button>
        </form>

    </main>
</body>

</html>