<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/aluno/home-aluno.css}">
    <title>Home - Pilates</title>
</head>
<body>
    <header>
        <div class="top-bar">
            <img th:src="@{/images/lotus.png}" alt="Logo Pilates" class="logo" />
            <a class="logo-name" th:href="@{/web/aluno/home}">Pilates</a>
        </div>
        <div class="profile-container">
            <div class="profile-circle" onclick="toggleMenu()"></div>
            <div class="profile-menu" id="profileMenu">
                <p><strong th:text="${aluno.nome}">Nome do Aluno</strong></p>
                <p th:text="${aluno.email}">email@example.com</p>
                <hr>
                <a th:href="@{/perform_logout}">Sair</a>
            </div>
        </div>
    </header>

    <main>
        <h2>
            Seja bem-vindo(a)
            <span th:text="${aluno != null ? aluno.nome : 'Aluno'}">Aluno</span>
        </h2>


        <div class="button-grid">
            <a class="btn-home" th:href="@{/web/aluno/modalidades}">Modalidades</a>
            <a class="btn-home" th:href="@{/web/aluno/aulas}">Aulas</a>
            <a class="btn-home" th:href="@{/web/aluno/planos}">Plano e Assinatura</a>
            <a class="btn-home" th:href="@{/web/aluno/evolucao}">Minha Evolução</a>
            <a class="btn-home" th:href="@{/web/aluno/ficha}">Ficha de Avaliação</a>
            <a class="btn-home" th:href="@{/web/aluno/faturas}">Pagamento e Faturas</a>
        </div>
    </main>
</body>
<script>
    function toggleMenu() {
        const menu = document.getElementById("profileMenu");
        menu.style.display = menu.style.display === "block" ? "none" : "block";
    }

    // Fechar o menu se clicar fora dele
    document.addEventListener('click', function (event) {
        const isClickInside = document.querySelector('.profile-container').contains(event.target);
        if (!isClickInside) {
            document.getElementById("profileMenu").style.display = "none";
        }
    });
</script>
</html>