<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modalidades - Pilates</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/aluno/modalidades.css}">
</head>

<body>
    <header>
        <div class="top-bar">
            <img th:src="@{/images/lotus.png}" alt="Logo Pilates" class="logo" />
            <a class="logo-name" th:href="@{/web/aluno/home}">Pilates</a>
        </div>
        <div class="profile-circle"></div>
    </header>
    <nav>
        <a th:href="@{/web/aluno/modalidades}" class="nav-item active">Modalidades</a>
        <a th:href="@{/web/aluno/aulas}" class="nav-item">Aulas</a>
        <a th:href="@{/web/aluno/planos}" class="nav-item">Planos</a>
        <a th:href="@{/web/aluno/evolucao}" class="nav-item">Evolução</a>
        <a th:href="@{/web/aluno/avaliacoes}" class="nav-item">Avaliações</a>
        <a th:href="@{/web/aluno/pagamentos}" class="nav-item">Pagamentos</a>
    </nav>

    <main>
        <h2 class="titulo-page">Modalidades</h2>
        <div class="card-container">
            <div class="card">
                <div class="card-header">Yoga</div>
                <div id="card-body-container">
                    <div class="card-body">
                        Além de um ambiente super acolhedor, você vai encontrar instrutores incríveis, muito atenciosos
                        e preparados para adaptar as posturas para todos os níveis.
                        <div class="card-image">
                            <img th:src=@{/images/yoga.png} alt="Imagem de Yoga">
                        </div>
                    </div>
                    <a class="btn-marcar" th:href="@{/web/aluno/aulas}">Marcar</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Pilates</div>
                <div id="card-body-container">
                    <div class="card-body">
                        Aulas de pilates com instrutores atenciosos, equipamentos de ponta e um ambiente perfeito para
                        fortalecer o corpo e melhorar a postura.
                        <div class="card-image">
                            <img th:src=@{/images/pilates.png} alt="Imagem de pilates">
                        </div>
                    </div>
                    <a class="btn-marcar" th:href="@{/web/aluno/aulas}">Marcar</a>
                </div>

            </div>
            <div class="card">
                <div class="card-header">Cursos</div>
                <div id="card-body-container">
                    <div class="card-body">
                        Cursos focados em saúde, alimentação consciente e bem-estar, com aulas práticas e dinâmicas
                        ministradas por profissionais experientes.
                        <div class="card-image">
                            <img th:src=@{/images/books.png} alt="Imagem de Cursos">
                        </div>
                    </div>
                    <a class="btn-marcar" th:href="@{/web/aluno/aulas}">Marcar</a>
                </div>
            </div>
        </div>
        </div>
    </main>
</body>

</html>