<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/aluno/home-aluno.css}">
    <title>Planos - Pilates</title>
</head>

<body>
    <header>
        <div class="top-bar">
            <img th:src="@{/images/lotus.png}" alt="Logo Pilates" class="logo" />
            <a class="logo-name" th:href="@{/web/aluno/home}">Pilates</a>
        </div>
        <div class="profile-circle"></div>
    </header>

    <main>

    </main>

</body>

</html>