<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tela Agenda</title>
    <link rel="stylesheet" th:href="@{/css/instrutor/agenda.css}">
</head>
<body>
    <header class="top-bar">
        <div class="logo">Pilates</div>
        <div class="user-icon"></div>
    </header>

    <main class="container">
        <h1>Agenda de Aulas</h1>

        <div class="search-box">
            <input type="text" placeholder="Procurar Aula">
            <button><i>🔍</i></button>
        </div>

        <table class="agenda-table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Alunos</th>
                    <th>Estúdio</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>

                <div th:classappend="${aulas} ? 'oculto' : 'visivel'">
                    <tr>
                        <td colspan="5">Nenhuma aula marcada</td>
                    </tr>
                </div>

                <div th:if="${aulas}">

                    <!-- <td>06/05/2025</td>
                    <td>09:00</td>
                    <td>Maria Eduarda</td>
                    <td>Estúdio Estudio Life</td> -->
                    <tr th:each="aula : ${aulas}">
                        <td th:text="${aula.data}"> Data </td>
                        <td th:text="${aula.horario}"> Hora </td>
                        <td th:text="${aula.alunos}"> Alunos </td>
                        <td th:text="${aula.idStudio}"> Estúdio </td>
                        <td>
                            <form th:action="@{/aulas/presenca/{id}(id=${aula.id})}" method="post" name="marcarPresenca">
                                <button class="btn-presenca">Marcar Presença</button>
                            </form>

                            <form th:action="@{/aulas/cancelar/{id}(id=${aula.id})}" method="post" name="cancelarAula">
                                <button class="btn-cancelar"> Desmarcar Aula </button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/agenda/marcar-presenca}" method="post">
                                <input type="hidden" name="idAula" th:value="${aula.id}" />
                                <input type="hidden" name="idAluno" th:value="${alunos}" />
                                <button type="submit" class="botao-concluir">Concluído</button>
                            </form>
                        </td>
                    </tr>
                </tdiv>
            </tbody>

            <!-- Modal  botão presença -->
            <div id="modalPresenca" class="modal">
                <div class="modal-conteudo">
                    <span class="fechar" id="fecharModal">&times;</span>
                    <h2>Nome da Aula</h2>
                    <input type="text" value="Pilates Avançado" readonly />

                    <div class="campo">
                        <label><strong>Presença:</strong></label>
                        <input type="checkbox" id="presente" name="presente">
                        <label for="presente">Maria Eduarda</label>
                    </div>

                    <div class="campo">
                        <label><strong>Observações:</strong></label>
                        <textarea rows="5" cols="40" placeholder="Digite aqui..."></textarea>
                    </div>

                    <button class="botao-concluir">Concluído</button>
                </div>
            </div>

            <script>


                const modal = document.getElementById("modalPresenca");
                const btn = document.getElementById("abrirModalBtn");
                const span = document.getElementById("fecharModal");

                btn.onclick = function () {
                    modal.style.display = "block";
                }

                span.onclick = function () {
                    modal.style.display = "none";
                }

                window.onclick = function (event) {
                    if (event.target === modal) {
                        modal.style.display = "none";
                    }
                }

            </script>



            <!-- Modal botão cancelar-->
            <!-- <div th:if="${aluno}" id="modalCancelar" class="modal">
                <div class="modal-conteudo">
                    <h2>Cancelar aula</h2>
                    <p>Você gostaria de cancelar a aula de <strong th:text="${aluno.nome}">[nome]</strong>?</p>

                    <form th:action="@{/aulas/cancelar}" method="post">
                        <input type="hidden" name="aulaId" th:value="${aula.id}" />
                        <div class="botoes">
                            <button type="button" class="botao-nao" id="fecharCancelar">Não</button>
                            <button type="submit" class="botao-sim">Sim</button>
                        </div>
                    </form>
                </div>
            </div> -->

            <script>
                const modalCancelar = document.getElementById("modalCancelar");
                const abrirBtn = document.getElementById("abrirCancelarBtn");
                const fecharBtn = document.getElementById("fecharCancelar");

                abrirBtn.onclick = () => modalCancelar.style.display = "block";
                fecharBtn.onclick = () => modalCancelar.style.display = "none";

                window.onclick = function (event) {
                    if (event.target === modalCancelar) {
                        modalCancelar.style.display = "none";
                    }
                }
            </script>

        </table>
    </main>
</body>

</html>